.products__show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    
}

.product {
    
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1rem;
}

.product__header {
    border-bottom: 1px solid rgb(245, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 1.3rem;
    position: relative;
    transition: opacity 500ms ease;
}

.product__subtitle{
    color: grey;
}

.product__title{
    margin-left: 1rem;
}


.product__img {
    width: 80%;
    height: 70%;
    object-fit: contain;
    position: absolute;
    transition: opacity 500ms ease;
}

.product__img-1 {
    opacity: 1;
}

.product__img-2 {
    opacity: 0;
}

.product__header:hover .product__img-1 {
    opacity: 0;
}

.product__header:hover .product__img-2 {
    opacity: 1;
}

.product__section {
    width: 90%;
    padding: 1rem;
}

.product__price {
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product__price-label{
    color: grey;
    font-weight: bold;
}

.product__price-value{
    color: rgb(56, 56, 56);
    font-weight: bold;
    padding-top: .3rem;
    margin-left: 1rem;
}

.product__price-value::before{
    content: "$ ";
}

.product__btn{
    position: absolute;
    right: 0;
    top: 35%;
    background-color: red;
    cursor: pointer;
    border: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 500ms ease;
}

.bx{
    color: aliceblue;
}

.product__btn:hover{
    background-color: rgb(235, 62, 62);
    transform: scale(1.1);
}