.form__login-container{
    background-color: rgb(233, 206, 206);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.form__login-view{
    background-color: rgb(241, 188, 188);
    max-width: 400px ;
    padding: 2rem;
    display: grid;
    gap: 1.3rem;
    border-radius: 1rem;
}

.form__login-title{
    color: rgb(68, 68, 68);
    font-size: 1.6rem;
    line-height: 2.2rem;
}


.form__login-div{
    display: flex;
    flex-direction: column;
}

.form__slogin-label{
    font-size: medium;
    padding-bottom: .3rem;
    color: rgb(97, 97, 97) ;
}

.form__login-input{
    font-size: larger;
    width: 100%;
    padding: .2rem;
    border: solid 1px rgb(192, 192, 192);
    text-align: center;
    border-radius: 1em;
    height: 1.9em;
}

input:focus{
    border-color: var(--redMain);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(230, 32, 32, 0.6);
    outline: 0 none;
}


.form__login-submit{
    background-color: red;
    color: aliceblue;
    border: transparent;
    padding: .8rem;
    cursor: pointer;
    border-radius: 1em;
}

.form__login-submit:hover{
    background-color: rgb(182, 35, 35);
}

.form__login-link{
    color: red;
    text-decoration: none;
}

